/EscapeFromTarkov_Data/
/MonoBleedingEdge/
/NLog/
/Aki.Launcher.exe
/Aki.Server.exe
/ConsistencyInfo
/doorstop_config.ini
/EscapeFromTarkov.exe
/EscapeFromTarkov_BE.exe
/LICENSE-BEPINEX.txt
/LICENSE-ConfigurationManager.txt
/LICENSE-Launcher.txt
/LICENSE-Modules.txt
/LICENSE-Server.txt
/Uninstall.exe
/UnityCrashHandler64.exe
/UnityPlayer.dll
/winhttp.dll
/BepInEx/
/BattlEye/
/Aki_Data/Launcher/
/Aki_Data/Server/@pnpm/
/Aki_Data/Server/images/
/Aki_Data/Server/checks.dat
/user/logs/
/user/launcher/
/user/cache/
/Logs/log_2024.04.02_7-20-47_0.14.1.2.29197/2024.04.02_7-20-47_0.14.1.2.29197 application.log
/Logs/log_2024.04.02_7-20-47_0.14.1.2.29197/2024.04.02_7-20-47_0.14.1.2.29197 errors.log
/Logs/log_2024.04.02_7-20-47_0.14.1.2.29197/2024.04.02_7-20-47_0.14.1.2.29197 notifications.log
/Logs/log_2024.04.02_7-20-47_0.14.1.2.29197/2024.04.02_7-20-47_0.14.1.2.29197 traces.log
/Logs/log_2024.04.02_7-20-47_0.14.1.2.29197/2024.04.02_7-20-47_0.14.1.2.29197_backend.log
